<div class="container-fluid bg-light w-100 h-100">
    <div class="container">
        <div class="row">
          <div class="col">
            <h5 class="h5">DASHBOARD</h5>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
              <h6 class="h6">SALES</h6>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div id="line-chart"></div>
          </div>

          <div class="col-md-6">
            <div id="histogram-chart"></div>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
              <h6 class="h6">Product Status</h6>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">DENIM Shirts</h5>
                  <p class="card-text">100 SOLD(OUT OF STOCK)</p>
                  <a href="#" class="btn btn-primary">GET NEW STOCK</a>
                </div>
              </div>
          </div>

          <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">MOTOROLA Mobiles</h5>
                    <p class="card-text">10 SOLD(IN STOCK)</p>
                    <a href="#" class="btn btn-primary">GET NEW STOCK</a>
                </div>
              </div>
          </div>

          <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">CONVERSE Shoes</h5>
                    <p class="card-text">90 SOLD(IN STOCK)</p>
                    <a href="#" class="btn btn-primary">GET NEW STOCK</a>
                </div>
              </div>
          </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
              <h6 class="h6">Orders</h6>
            </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">DENIM Shirts</h5>
                  <p class="card-text">QTY: 100</p>
                  <a href="#" class="btn btn-primary">SHIPPING</a>
                </div>
              </div>
          </div>

          <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">MOTOROLA Mobiles</h5>
                    <p class="card-text">QTY: 10</p>
                    <a href="#" class="btn btn-primary">COMPLETED</a>
                </div>
              </div>
          </div>

          <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">CONVERSE Shoes</h5>
                    <p class="card-text">QTY: 90</p>
                    <a href="#" class="btn btn-primary">NEW</a>
                </div>
              </div>
          </div>
        </div>
    </div>
</div>
  